$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
// $screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-xl !default;
$toggler-part-height:         2px !default;
$toggler-part-bg-color:       $main-color !default;

$transition-time:             0.3s !default;

.main-nav {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // width: calc(100% - 198px - 20px);

  &__inner {
    // position: absolute;
    position: fixed;
    top: 74px;
    right: 0;
    z-index: 1;
    transform: translateX(100%);
    min-width: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 20px;
    background-color: $white;
    box-shadow: $shadow;
    transition: all $transition-time ease-in-out;

    li {

      &::before {
        display: none;
      }

      @media (min-width: $screen-xl) {
        margin-top: 0;
      }
    }

    a {
      display: block;
      padding-top: 28px;
      padding-bottom: 28px;
      font-size: 18px;
      letter-spacing: 1.5px;
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &:hover,
      &:focus {
        text-decoration: none;
      }

      @media (min-width: $screen-xl) {
        padding-left: 23px;
        padding-right: 23px;
      }
    }

    @media (min-width: $screen-md) {
      // right: -40px;
      top: 48px + 46px;
      padding-right: 40px;
      padding-top: 30px;
    }

    @media (min-width: $screen-xl) {
      position: static;
      display: flex;
      transform: none;
      padding: 0;
      box-shadow: none;
    }

    &--open {
      transform: translateX(0);
      transition: all $transition-time ease-in-out;

      @media (min-width: $screen-xl) {
        transform: none;
      }
    }
  }

  // первый уровень
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    // мобильный вид списка
    @media (max-width: ($menu-desktop-width - 1)) {

      // открытие/закрытие меню только в случае работающего JS

      .js & {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }
    }

    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;

    &::before {
      display: none;
    }

    &--active,
    &.active {

      & > #{$block-name}__link {
        color: $main-color;
      }
    }
  }

  &__lang {
    padding-left: 0;
    list-style-type: none;

    @media (min-width: $screen-xl) {
      position: relative;
      width: 66px;
      // height: 56px;
      // overflow: hidden;
    }
  }

  &__lang-item {
    display: flex;

    @media (min-width: $screen-xl) {
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: column;
      width: 100%;
      // height: 100%;
      height: 56px;
      background-color: $white;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
    }

    &--open {

      @media (min-width: $screen-xl) {
        height: 56px * 3;
      }
    }

  }

  &__lang-link {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $main-color;
    }

    &.active {
      // color: $text-color;

      @media (min-width: $screen-xl) {
        z-index: 1;
        order: -1;
        // top: 0;
        // left: 0;
      }
    }

    /* &:nth-child(0) {
      top: 0;
    }

    &:nth-child(1) {
      top: 56px;
    }

    &:nth-child(2) {
      top: 56px * 2;
    } */

    @media (min-width: $screen-xl) {
      // position: absolute;
      // top: 0;
      // left: 0;
      margin-right: 0;
      padding-right: 20px !important;
      padding-left: 20px !important;
      background-color: $white;
    }
  }
}

