// @font-face {
//   font-family: 'FONTNAME';
//   src: url('../fonts/FONTNAME.woff2') format('woff2'),
//        url('../fonts/FONTNAME.woff') format('woff'),
//        url('../fonts/FONTNAME.ttf')  format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }



body {
  // ТОЛЬКО типографика!
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
  text-decoration-skip: ink;

  @media (min-width: $screen-xl) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: 700;
  line-height: $line-height;
  color: $text-color;
}

h1,
h2
 {
  margin-top: 0;
  margin-bottom: $line-height;
}

h3,
h4,
h5,
h6 {
  margin-top: $line-height;
  margin-bottom: ($line-height / 2);
}

h1, .h1 {
  font-size: 2.357em;

  @media (min-width: $screen-xl) {
    font-size: 3.375em;
  }
}

h2, .h2 {
  font-size: 1.786em;

  @media (min-width: $screen-xl) {
    font-size: 2.25em;
  }
}

h3, .h3 {
  font-size: 1.357em;

  @media (min-width: $screen-xl) {
    font-size: 1.5em;
  }
}

h4, .h4 {
  margin-bottom: 0;
  font-size: 1.143em;

  @media (min-width: $screen-xl) {
    font-size: 1em;
  }
}

h5, .h5 {
  margin-bottom: 0;
  font-size: 0.9em;

  @media (min-width: $screen-xl) {
    font-size: 0.9em;
  }
}

p,
ul,
ol,
dl,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: 0;
  color: currentColor;
  hyphens: auto;

  a {
    font-size: inherit;
    text-decoration: underline;
    color: inherit;
    text-decoration-skip: ink;

    &:hover {
      color: $main-color;
    }
  }
}

p + p {
  margin-top: $line-height / 2;
}

address {
  font-style: normal;
}

ul,
ol {
  padding-left: 1.2em;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  line-height: inherit;
}

li + li {
  margin-top: $line-height / 2;
}

ol{
  counter-reset: myCounter;

  li:before {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 0.7em;
    counter-increment: myCounter;
    content: counter(myCounter)".";
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    text-align: left;
    line-height: inherit;
    color: $main-color;
  }
}

ul {
  li:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 3px;
    height: 3px;
    margin-right: 0.7em;
    margin-top: -3px;
    border-radius: 50%;
    background-color: $main-color;

    @media (min-width: $screen-xl) {
      width: 4px;
      height: 4px;
    }
  }
}

hr {
  margin: -1px 0;
  border: 0;
  border-top: 1px solid $border-color;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 70%;
  line-height: 0;
}

sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

b,
strong {
  font-weight: bolder;
}

abbr[title] {
  text-decoration: underline dotted;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

q {
  quotes:  "«" "»";
}

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
