.btn {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  background-color: transparent;
  border: none;
  background-image: none;
  cursor: pointer;

  &::after {
    position: absolute;
    bottom: 5px;
    left: 0;
    content: url(../img/arrow-right-color.svg);
    display: block;
    width: 55px;
    height: 15px;
    transition: transform $transition-time ease-in-out;
  }

  &:hover,
  &:focus {
    text-decoration: none;

    &::after {
      transform: translateX(30px);
    }
  }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;

    @at-root a.btn--disabled {
      pointer-events: none;
    }

    &::after {
      transform: none;
    }
  }

  &--prev {

    &::after {
      left: initial;
      right: 0;
      transform: scale3D(-1, 1, 1);
    }

    &:hover,
    &:focus {

      &::after {
        transform: scale3D(-1, 1, 1) translateX(30px);
      }
    }
  }
}
